div#sort-wrapper {
    padding: 10px;
    margin-top:15px;
    .font-bold {
        font-weight: bold;
    }
    p.sort-option {
        cursor: pointer;
    }
    p.active {
        color: #0069D8;
        text-decoration: underline;
        font-weight: bold;
    }
}