<app-header></app-header>
<div class="container padding-top">
    <div id="no-product-wrapper" class="row" *ngIf="!items.length">
        <h4>There are no products in cart</h4>
        <a routerLink="/products" routerLinkActive="active">Continue Shopping</a>
    </div>
    <div class="row" *ngIf="items.length > 0">
        <div class="col-md-9 col-xs-12">
            <div *ngFor="let p of items">
                <div class="row productList">
                    <div class="col-md-3 col-xs-6">
                        <img src="{{p.img_url}}" style="width:100px;height:100px">
                    </div>
                    <div class="col-md-3 col-xs-2">
                        <p class="product-name">{{p.name}}</p>
                        <p class="product-extra-info">
                            <span class="price"> 
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{ p.price -  (p.price * p.discount)/100 }}
                            </span>
                            <span class="mrp"> {{p.price}}</span>
                            <span class="discount">  {{p.discount}}% off</span>
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-2 quantity-info-wrapper">
                        <i class="fa fa-plus-circle" aria-hidden="true" (click)="addToCart(p);"></i>
                        <input class="quantity-box" type="text" [value]="p.quantity"/>
                        <i class="fa fa-minus-circle" aria-hidden="true" (click)="removeFromCart(p);"></i>
                    </div>
                    <div class="col-md-3 col-xs-2">
                        <button type="button" class="btn btn-primary" (click) = "removeFullFromCart(p);">REMOVE</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div>PRICE: <span clss="price">{{overallPrice}}</span></div>
            <div>DISCOUNT: <span clss="price">{{discountPrice}}</span></div>
            <div>Total Payable: <span clss="price">{{totalPayPrice}}</span></div>
        </div>
    </div>
</div>